<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="D:\ThreadsOfFateLogs\internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="all" fileName="D:\ThreadsOfFateLogs\all-${shortdate}.log"
            layout="${date:universalTime=false:format=O}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=toString}" />

    <target xsi:type="File" name="warn" fileName="D:\ThreadsOfFateLogs\warn-${shortdate}.log"
            layout="${date:universalTime=false:format=O}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=toString}" />

    <target xsi:type="File" name="callTimeLogger" fileName="D:\ThreadsOfFateLogs\callTimeLogger-${shortdate}.log"
            layout="${date:universalTime=false:format=O}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=toString}" />

    <target xsi:type="File" name="error" fileName="D:\ThreadsOfFateLogs\error-${shortdate}.log"
            layout="${date:universalTime=false:format=O}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=toString}" />

    <target xsi:type="File" name="trace" fileName="D:\ThreadsOfFateLogs\trace-${shortdate}.log"
            layout="${date:universalTime=false:format=O}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=toString}" />

    <target xsi:type="File" name="info" fileName="D:\ThreadsOfFateLogs\info-${shortdate}.log"
            layout="${date:universalTime=false:format=O}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=toString}" />

    <target xsi:type="Null" name="null" formatMessage="false" />

  </targets>
</nlog>
